body {
    font-family: Arial, Helvetica, sans-serif;
}

.textbox {
    opacity: 80%;
    border-radius: 6px;
    background-color: rgb(245, 238, 231);
}

.button {
    margin: 20px 0px 0px 5px;
    border-radius: 6px;
    padding: 5px;
    border: solid 1px black;
    box-shadow: 3px 3px 3px black;
}

.button:hover {
    cursor: pointer;
}