body {
    background: url("../img/recipes_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.back-black{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 90%;
    margin: 0px 50% 20px 30%;
    padding: 20px 20% 20px 20%;
}

.white {
    color: white;
}

.op {
    opacity: 0.9;
}

.button:hover {
    background-color: grey;
}

.recipe {
    width: 600px;
}

.space {
    padding-bottom: 10px;
}